@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}
.full-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  background:white;
  top: 0px;

}

body {
  font-family: 'Poppins', sans-serif;
}

.outer {
  height: 72px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  max-width: 100%;
  
}

.logo-title img {
  height: 36px;
  width: 156px;

}

.logo-title {
  display: flex;
  align-self: center;
  margin-right: 15px;
}

.search-title input {
  width: 570px;
  height: 45.2px;
  padding-left: 30px;
  border: 1px solid rgb(206, 206, 222);
  border-radius: 4px;
  font-size: 1rem;
}

.search-title {
  display: flex;
  align-items: center;
}

.search-title i {
  transform: translateX(30px);
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 70px;
  cursor: pointer;
}

.icons p {
  margin-left: 18px;
  margin-right: 18px;
}

.line {
  height: 40px;
  width: 2px;
  background-color: #cecede;
}

.user {
  margin-left: px;
}

.user i {
  display: flex;
  justify-content: center;

}

.mid-line {
  background-color: rgb(206, 206, 222);
  height: 1px;
  width: 100%;
}

.box {
  max-width: 100%;
  padding: 0 64px;
}

.nav-down {
  max-width: 100%;
  height: 52px;
  padding: 0;
  background-color: white;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;

}

.nav-list {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2px 2px 0px 0px;
  padding: 0px 8px;
  white-space: nowrap;

}

.nav-list p {
  font-size: 1rem;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: rgb(53, 53, 67);
}

.nav-list p:hover {
  color: rgb(159, 32, 137);
  border-bottom: 3px solid rgb(159, 32, 137);
  cursor: pointer;
}

.img-banner {
  max-width: 100%;
  height: auto;
  display: block;
  color: transparent;
  padding-top: 120px ;
}

.img-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  position: absolute;
  left: 63%;
  top: 30%;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -0.72px;
  /* transform: translateY(-50%); */

}

.img-text {
  font-style: normal;
  letter-spacing: -0.88px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.shop-now {
  padding: 11px 41px 13px;
  font-size: 28px;
  border-radius: 8px;
  background: rgb(249, 249, 249);
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0, 15)0px 1px 1px 0px;
  color: rgb(88, 10, 70);
}

.policy {
  max-width: 100%;
  padding: 12px;
  background-color: rgb(253, 238, 250);
}

.child-box {
  border: 1px solid rgba(220, 148, 208, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  background: white;
}

.child-boxs {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  display: flex;
  text-align: center;
  margin-right: 32px;
  margin-left: 32px;
}

.child-boxs img {
  height: 20px;
  width: 20px;
  padding: 0px 10px 0px 10px;
}

.policy-line {
  height: 15px;
  width: 1px;
  background-color: rgba(220, 148, 208, 0.5);
}

.collection {
  padding: 40px 64px;
  max-width: 100%;
  display: flex;
  gap: 24px;
}

.collection-item a {
  text-decoration: none;
  color: inherit;
  text-align: center;

}

.collection-item p {
  padding: 16px 0px 0px;
}

.collection-item:hover {
  transform: translateY(-4px);
  transition: transform 0.2s;
}

.gold img {
  width: 100%;
}

.shop-now-gold {
  border: 1px solid rgb(255, 209, 130);
  background: rgb(63, 31, 17);
  color: rgb(255, 209, 130);
  padding: 11px 25px 13px;
  border-radius: 8px;
  font-size: 20px;
  position: absolute;
  bottom: -85%;
  left: 12%;
  cursor: pointer;
}
.gold-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 60px;
  position: absolute;
  width: 21%;
  top: 155%;
  transform: translateY(-50%);
  left: 66.66%;

}
.gold-img img{
  height: 199.51px;
  width: 160px;
  cursor: pointer;
}
.gold-img img:hover{
   transform: translateY(-4px);
  transition: transform 0.2s;
}

.b-section{
  max-width: 100%;
  padding: 60px 64px 16px;
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.original-brand{
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(53, 53, 67);
  font-size: 32px;
  font-style: normal;
}
.original-brand img{
  height: 32px;
  width: 32px;
}
.view-all{
  color: rgb(159, 32, 137);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
.item-section{
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 8px 0px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.brand-section{
  background: rgb(240, 233, 255);
  padding: 12px 0px;
  overflow: hidden;
}
.brand-inner{
  display: flex;
  overflow: hidden;
  width: 100%;
}
.brand-loop{
  display: flex;
  gap: 24px;
  animation: 30s linear 0s infinite normal none running scroll;
  padding: 16px 0px;
  box-sizing: border-box;
}

@keyframes scroll {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-50%);
} 
}


.brand-name{
  height: 75px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  transition: transform 0.2s;
  padding: 16px;
}
.brand-name img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.brand-name:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 15px;
}
.brand-loop:hover{
  animation-play-state: paused;
}
.trendz img{
  width: 100%;
}
.shopnow-trendz{
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  color: rgb(88, 10, 70);
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  position: absolute;
  bottom: -222%;
  left: 4%;
  padding: 12px 40px;
}
.shopnow-trendz:hover{
  transform: translateY(-4px);
}
.trendz-collection{
  display: flex;
  gap: 40px;
  position: absolute;
  left: 38%;
  transform: translateY(-380px);
}
.trendz-collection p{
  padding: 4px 0px 6px;
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(88, 10, 70);
  cursor: pointer;
  font-size: 20px;
  border: 1px solid rgb(255, 157, 0);
  background: rgb(255, 245, 229);
  font-weight: 600;
  margin-top: 10px;
  
}
.trendz-collection a{
  text-decoration: none;
}
.trendz-collection a:hover{
  transform: translateY(-5px);
  transition: 0.2s;
}
.products{
  max-width: 1920px;
  padding: 0px 64px;
  margin-top: 40px;
  padding-bottom: 30px;
}
.products h4{
  color: rgb(53, 53, 67);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  padding: 0px 0px 28px;
}
.product-box{
  width: 100%;
  height: auto;
  gap: 40px;
  display: flex;
  cursor: pointer;
  margin-bottom: 25px;
}
.pro-box{
  height: 400px;
  width: 250px;
  border-radius: 8px; 
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 242); 
}
.pro-box img{
  height: 232px;
  width: 244px;
  object-fit: contain;
}
.pro-data p{
   color: rgb(139, 139, 163);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
}

.pro-data h5{
  color: rgb(53, 53, 67);
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  padding-left: 15px;
}
.pro-data span{
  color: rgb(97, 97, 115);
  background: rgb(248, 248, 255);
  padding: 5px 10px;
  border-radius: 48px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.free-deliver{
  padding: 12px;
}
.rating{
  display: flex;
  padding-left: 15px;
}
.rating span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 4px 8px;
  background: rgb(3, 141, 99);
  fill: rgb(255, 255, 255);
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.rating img{
  height: 10px;
  width: 10px;
}
.rating p{
  color: rgb(139, 139, 163);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 0.5rem;
}

.footer{
  padding: 40px 64px 40px 64px;
  background-color: rgb(248, 248, 255);
}
.footer-section{
  width: 100%;
  display: flex;
}
.section-1{
 padding-right: 12px;
}
.section-1 h2{
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}
.section-1 p{
  color: rgb(97, 97, 115);
  font-size: 18px;
  word-spacing: 2px;
  font-weight: 500;
  gap: 20px;
}
.download{
  display: flex;
  gap: 16px;
}
.download img{
  height: 50px;
  width: 190px;
  background: transparent;
  margin: 20px 0px 20px 0px;
}
.section-2{
  width: 15%;
  padding-top: 13px;
  margin: 0px 0px 40px;

}
.section-2 a{
  text-decoration: none;
  color: rgb(97, 97, 115);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.sec{
  padding-bottom: 12px;
}
.section-3{
  width: 15%;
  padding-top: 13px;

}
.section-3 a{
  text-decoration: none;
  color: rgb(97, 97, 115);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.section-3 a:hover{
  color: black;
  text-decoration: underline;
}
.section-4{
  padding-top: 10px;
  width: 15%;
}
.section-4 h6{
  color: rgb(53, 53, 67);
  font-weight: 700;
  font-size: 20px;
}
.section-4 img{
  padding: 16px 16px 0px 0px ;
  height: 24px;
  width:  24px;
}
.section-2 a:hover{
  color: black;
  text-decoration: underline;
}
.section-5{
  width: 25%;
  padding-top: 10px;
  font-size: 12px;
  color: rgb(97, 97, 115);
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 500;
}
.section-5 h6{
  color: rgb(53, 53, 67);
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
}




